/*--------
  FONTS
--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------------------------
COMMON STYLES & UTILITIES
-------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-bottom: 70px;
}


/*----------
COVER PAGE
------------*/
.cover-page{
    background-color: #58c522;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cover-title{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    margin-bottom: 150px;
    margin-top: 200px;
}
h1{
    width: 485px;
    height: 230;
    font-size: 64px;
    text-align: left;
}
.cover-button{
    background-color: #7e22da;
    color: white;
    width: 172px;
    height: 44px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}
.cover-button a{
    text-decoration: none;
    color: white;
}
.cover-button:hover p{
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}
.cover-image img{
    width: 556.01px;
    padding-right: 140px;
}


/*----------
   PLAYERS
------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.player{
    background-color: rgba(187, 244, 54, 0.529);
    padding: 15px 15px 15px 15px;
    width: 300px;
    height: 450px;
    border-top-right-radius: 50px; 
}
.players .player .player-image img{
    width: 300px;
    height: 256px;
    border-top-right-radius: 50px;
}
.player-info .player-name h2{
    font-size: 28px;
    font-weight: 700;
    
}
.player-details p{
    width: 300px;
    height: 100px;
    text-align:left;
}


/*------------
   EXTRA SECTION
--------------*/
.extra-section{
    display: flex;
    align-items: center;
    margin-top: px;
}
.extra-section .extra-image img{
    width: 567px;
    border-top-right-radius: 100px;
}
.extra-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}
.extra-title h1{
    width: 470px;
    height: 120px;
    font-size: 48px;
    font-weight: 700;
}
.extra-title p{
    height: 113px;
    width: 404px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.extra-button{
    background-color: #7e22da;
    color: white;
    width: 172px;
    height: 44px;
    
    border: none;
    border-radius: 10px;
    font-weight: 500;
}
.extra-button:hover p{
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}


/*------------
    FOOTER
--------------*/
.footer .footer-image img{
    width: 480px;
    height: 110px;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 210px;
    justify-content: space-around;
    align-items: center;
}
.icon{
    color: #969BAB;
    margin-left: 5px;
    margin-right: 5px;
}
.copyright{
    text-align: center;
}

/*--------------------------------
    Media Queries Mobile Device
--------------------------------*/