/*--------
  FONTS
--------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/*------------------------
COMMON STYLES & UTILITIES
-------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    margin-bottom: 70px;
}


/*----------
COVER PAGE
------------*/
.cover-page{
    background-color: #2D25A0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 150px;
    margin-bottom: 150px;
    margin-top: 200px;
}
h1{
    width: 485px;
    height: 230;
    font-size: 64px;
    text-align: left;
}
.cover-button{
    background-color: #E02C6D;
    color: white;
    width: 172px;
    font-weight: 500;
}
.cover-image img{
    width: 556.01px;
    padding-right: 140px;
}


/*----------
   PLAYERS
------------*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.player{
    background-color: rgba(17, 107, 241, 0.556);
    padding: 15px 15px 15px 15px;
    width: 300px;
    height: 400px;
    
}
.players .player .player-image img{
    width: 300px;
    height: 256px; 
}
.player-info .player-name h2{
    font-size: 28px;
    font-weight: 700;
    
}
.player-details p{
    width: 300px;
    height: 100px;
    text-align:justify;
}
